:root {
  /* Text colors */
  --primary-txt-cl: #2e2f42;
  --secondary-txt-cl: #8E8F99;
  --accent-txt-cl: #E7E9FC;
  /* BG colors */
  --primary-bg-color: #2e2f42;
  /* Others */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-slate: #434455;
  --light-txt-cl: #FFFFFF;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: calc(24 / 18);
  letter-spacing: 0.02em;
  color: var(--primary-txt-cl);
  background-color: #FFFFFF;
}
.link {
  text-decoration: none;

}

.header-logo{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

body 
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: inherit;
  color: var(--light-txt-cl);
}

body {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: inherit;
  color: var(--primary-txt-cl);
}
 body {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-txt-cl);
}

body {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: inherit;
  text-transform: capitalize;
  color: var(--primary-txt-cl);
}

body {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: inherit;
  color: var(--primary-txt-cl);
}

 body 


.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
}

.footer-text{
 
  color: var(--color-cornflower);
}

.button:hover,
.button:focus{
  color: var(--light-txt-cl);
}