--button-background-color: #404bbf;
  --color-logo-web:#4d5ae5;
  --color-logo-studio:#2e2f42;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color:#434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/**-------------------Шаблони шрифтів-------------*/
/*стилі лого*/
.styles-logo{
    font-family: 'Raleway',
      sans-serif;
    font-style: normal;
    font-family: 'Raleway',sans-serif;  
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    line-height: 1.17;     
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
@@ -55,8 +51,6 @@ body {

/**--------------HEADER-------------*/

.header-logo {}

.header-logo-web {  
  color:var(--color-logo-web,
    #4d5ae5);
}
.header-logo-studio {
  color:var(--color-logo-studio,
    #2e2f42);
}
.header-address {
  font-style: normal;
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-item:is(:hover, :focus) {
  color: #404bbf;
}
.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-mail:is(:hover, :focus) {
  color: #404bbf;
}
/**----------------секція2----------------*/
.vision {
  background-color: #2e2f42;
}
.vision-titl {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #2e2f42;
}
.vision-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}
.vision-btn:is(:hover, :focus) {
  background-color:var(--button-background-color,#404bbf) ;
}
/**----------------секція3------------- */
.benefits-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings,#2e2f42);
}
/**------------------секція4--------------*/
.team {
  background-color: #f4f4fd;
}
.team-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings,#2e2f42)
  ;
}
.team-item {
  background-color: #ffffff;
}
/*.team-name {}*/
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**-----------FOOTER--------------*/
.footer {
  font-family: 'Raleway', sans-serif;
  /*font-family: */
  background-color: #2e2f42;
}